/vendor
/.idea
Homestead.json
Homestead.yaml
.phpunit.result.cache
test.php
/node_modules
/public/storage
/public/web
/cache
/.vscode
/.vagrant
/test.php
npm-debug.log
yarn-error.log
.env
.domain.env
.init
/tests/_output
/storage
/test
phpunit.xml
.styleci.yml
.editorconfig
.env.pre